<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="over" >
        <mat-selection-list #shoes [multiple]="false" (click)="drawer.toggle()">
            <mat-list-option [routerLink]="['']">
                <p>
                    <mat-icon>school</mat-icon> Vinit Billing Application <mat-icon>school</mat-icon>
                </p>
            </mat-list-option>
           
            <mat-list-option style="margin-top: 5%;" [routerLink]="['/dashboard']">
                <p>
                    <mat-icon>dashboard</mat-icon> Dashboard
                </p>
            </mat-list-option>
        
           
        
        
            <mat-list-option [routerLink]="['/add-user']">
                <p>
                    <mat-icon>person</mat-icon>Add Clients
                </p>
            </mat-list-option>
            <mat-list-option [routerLink]="['/all-user']">
                <p>
                    <mat-icon>person</mat-icon>All Clients
                </p>
            </mat-list-option>
            <mat-list-option [routerLink]="['/profile']">
                <p>
                    <mat-icon>inventory_2</mat-icon> Product
                </p>
            </mat-list-option>
        
            <mat-list-option >
                <p>
                    <mat-icon>receipt</mat-icon> Invoices
                </p>
            </mat-list-option>

            <mat-list-option >
                <p>
                    <mat-icon>tune</mat-icon> Settings
                </p>
            </mat-list-option>
        </mat-selection-list>
      
    </mat-drawer>
  
    <div class="example-sidenav-content">
  
  
  
      <mat-toolbar color="primary">
        <button (click)="drawer.toggle()" mat-icon-button class="example-icon"
          aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
  
        </button>
  
        <span [routerLink]="['']" style="cursor: pointer;" routerLinkActive="router-link-active" >Vinit Billing Application</span>
        <span class="example-spacer"></span>
  
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>manage_accounts </mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/singin']" >
              <mat-icon>lock_open</mat-icon>
              <span>Sing in</span>
            </button>
            <button mat-menu-item [routerLink]="['/singup']">
              <mat-icon>app_registration</mat-icon>
              <span >Sing up</span>
            </button>
            <button mat-menu-item disabled >
              <mat-icon>notifications_off</mat-icon>
              <span>Disable alerts</span>
            </button>
          </mat-menu>
  
  
      </mat-toolbar>
  
  
      <router-outlet></router-outlet>